# Python
__pycache__/
*.py[cod]
*.sqlite3
*.log

# Environment
.env
*.env

# Virtualenv
venv/
.env/

# Django
media/
staticfiles/
db.sqlite3

# IDEs
.vscode/
.idea/

# Node
node_modules/

# OS
.DS_Store
Thumbs.db
# Ignore all images
*.png
*.jpg
*.jpeg
*.gif
*.bmp
*.tiff
*.webp

# Ignore all videos
*.mp4
*.avi
*.mov
*.mkv
*.wmv

# Ignore all audio
*.mp3
*.wav
*.ogg
*.flac

.history/
