# Python
__pycache__/
*.py[cod]
*.sqlite3
*.log

# Environment
.env
*.env

# Virtualenv
venv/
.env/

# Django
media/
staticfiles/
db.sqlite3

# IDEs
.vscode/
.idea/

# Node
node_modules/

# OS
.DS_Store
Thumbs.db

.python_history
django_shell_history
.bash_history
.zsh_history
.fish_history
PSReadLine/ConsoleHost_history.txt
.vscode/.history/
.idea/**/workspace.xml
.idea/**/tasks.xml
.idea/**/usage.statistics.xml
.idea/**/dictionaries/
.idea/**/shelf/