<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Redirecting to eSewa...</title>
</head>
<body>
    <p>Redirecting to eSewa, please wait...</p>
    <form id="esewaForm" action="https://uat.esewa.com.np/epay/main" method="POST">
        <input type="hidden" name="amt" value="{{ esewa_data.amt }}">
        <input type="hidden" name="tAmt" value="{{ esewa_data.tAmt }}">
        <input type="hidden" name="txAmt" value="{{ esewa_data.txAmt }}">
        <input type="hidden" name="psc" value="{{ esewa_data.psc }}">
        <input type="hidden" name="pdc" value="{{ esewa_data.pdc }}">
        <input type="hidden" name="scd" value="{{ esewa_data.scd }}">
        <input type="hidden" name="pid" value="{{ esewa_data.pid }}">
        <input type="hidden" name="su" value="{{ esewa_data.su }}">
        <input type="hidden" name="fu" value="{{ esewa_data.fu }}">
        <input type="hidden" name="receiver" value="{{ esewa_data.receiver }}">
    </form>

    <script>
        document.getElementById('esewaForm').submit();
    </script>
</body>
</html>
