.navbar {
    background-color: #cefcfd !important; /* Dental teal */
}

.navbar .navbar-brand,
.navbar .nav-link,
.navbar span {
    color: rgb(160, 223, 231) !important;
}

.navbar .btn-outline-primary {
    color: #fff;
    border-color: #fff;
}

.navbar .btn-outline-primary:hover {
    background-color: #fff;
    color: #007B7F;
}

.navbar .btn-primary {
    background-color: #007B7F;
    border-color: #007B7F;
}

.navbar .btn-primary:hover {
    background-color: #006666;
    border-color: #005555;
}
